@media (max-width: 768px) {
    header {
        background: url(../img/pattern-bg-mobile.png);
        background-size: cover;
        padding: 0 24px;
        height: 300px;
    }

    header .title {
        font-size: 25px;
        margin-top: 26px;
    }

    header .search-section {
        margin-top: 28px;
        width: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    }

    header .status-list {
        flex-direction: column;
        width: 327px;
        height: 295px;
        justify-content: center;
        bottom: -161px;
        gap: 24px;
    }
    
    header .status-list .statu h2 {
        font-size: 10px;
    }
    
    header .status-list .statu p {
        font-size: 20px;
        margin-top: 7px;
    }

    main {
        background-color: red;
        height: calc(100vh - 300px);
    }
}