header {
    background: url(../img/pattern-bg-desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
    position: relative;
    height: 280px;
}

header .title {
    color: #ffffff;
    font-size: 19,375rem;
    margin-top: 30px;
}

header .search-section {
    margin-top: 28px;
    width: 34.68rem;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

header .search-section .search-ip {
    border: none;
    font-size: 18px;
    width: 100%;
    padding: 15px 30px;
}

header .search-section .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 100%;
    background-color: hsl(0, 0%, 17%);
    border: none;
    cursor: pointer;
}

header .search-section .btn-search:active {
    background-color: hsl(0, 0%, 59%);
}

header .status-list {
    background-color: #ffffff;
    display: flex;
    width: 1110px;
    min-height: 160px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    bottom: -80px;
}

header .status-list .statu h2 {
    font-size: 13px;
    color: hsl(0, 0%, 59%);
    font-weight: 600;
}

header .status-list .statu p {
    color: hsl(0, 0%, 17%);
    font-size: 26px;
    font-weight: 500;
    margin-top: 13px;
}