.search-field {
    background: url(../img/pattern-bg-desktop.png);
    background-size: cover;
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.title {
    color: #ffffff;
    font-size: 31px;
    font-weight: 600;
    margin-top: 30px;
}

.search-ip {
    background-color: darkgray;
    width: 100%;
    max-width: 555px;
    height: 58px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 28px;
}

#address-ip {
    width: 100%;
    height: 100%;
}

button {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    background-color: #000000;
}

button:active {
    opacity: 0.5;
}

#address-data {
    background-color: #ffffff;
    width: 100%;
    max-width: 1110px;
    min-height: 160px;
    position: absolute;
    bottom: -80px;
    border-radius: 15px;
    display: flex;
    padding: 30px 0;
    /* gap: 20px; */
}

#address-data li {
    flex: 1;
    /* margin-left: 10px; */
    padding-left: 33px;
    border-left: 1px solid hsl(0, 0%, 59%);
}

#address-data li:first-child {
    border: none;
}

.teste-1 {
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
}

.teste-2 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 13px;
}